<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Inserimento cliente - admin</title>		
		<link rel="stylesheet" href="form.css"/>	
	</head>
	
	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Gallerie d'arte - INSERIMENTO DATI CLIENTE</strong></div>
	</header>
	
	<section>
			<div class="flex-container">
			
				<div class="flex-dati">
					<div  class="sezione">
						<form th:action="@{/cliente}" method="POST" th:object="${cliente}">
							<div th:if="${#fields.hasGlobalErrors()}">
					    		<p 	th:each="err : ${#fields.globalErrors()}" 
					  				th:text="${err}">ERRORE GENERICO</p> 
					  		</div>
							<div>
								<span>Nome Cliente: </span>
								<span><input type="text" th:field="*{nome}"/></span>
								<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
							</div>
							<div>
								<span>Cognome Cliente: </span>
								<span><input type="text" th:field="*{cognome}"/></span>		
								<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
							</div>
							<div>
								<span>Nazionalità Cliente: </span>
								<span><input type="text" th:field="*{nazionalita}"/></span>		
								<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
							</div>
							<div class="sezione">
								<button type="submit"><strong class="bottone">Conferma nuovo cliente</strong></button>
							</div>
						</form>
					</div>
				</div>
				
				<div class="flex-foto">
					<div class="fotografia">
						<img style="border: 3px solid green"  src="../cliente.jpg" alt="Image" height="300" width="360">
					</div>
				</div>
				
			</div>
		</section>
	
	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
	</body>

</html>