<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Dettagli cliente - admin</title>
		<link rel="stylesheet" href="../dettagli.css"/>    
	</head> 

	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Gallerie d'arte : DETTAGLI CLIENTE</strong></div>
	</header>
	
	<section>
			<div class="flex-container">
			
				<div class="flex-dati">
				
					<div class="sezione">
						<p>
							<span ><strong>Nome cliente: </strong></span>
							<span th:text="${cliente.nome}">Nome generico</span>
						</p>
						<p>
							<span><strong>Cognome cliente: </strong></span>
							<span  th:text="${cliente.cognome}">Cognome generico</span>
						</p>
						<p>
							<span><strong>Nazionalità cliente: </strong></span>
							<span  th:text="${cliente.nazionalita}">Nazionalita generica</span>
						</p>
					</div>
					
				</div>
				
				<div class="flex-foto">
					<div class="fotografia">
						<img style="border: 3px solid green"  src="../cliente.jpg" alt="Image" height="300" width="360">
					</div>
				</div>
			</div>
	</section>

	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>

</html>