<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Cancellazione Galleria - admin</title>
		<link rel="stylesheet" href="../elenchi.css"/>  
	</head>
	
	<body>	
		<header> 
			<div id="titolo"><strong class="titolo">Gallerie d'arte - Cancellazione Galleria</strong></div>
		</header>
			
		<div class="sezione">	
			<h4>Sei sicuro di voler eliminare la Galleria
				<span th:text="${galleria.nome}">Nome galleria</span>
				<span th:text="${galleria.descrizione}">Descrizione galleria</span>
				<span>le cui opere non verranno cancellate?</span>
				
				<ul th:if="${!galleria.opere.empty}">
					<li th:each="opera: ${galleria.opere}">
						<p class="desc">
							<a href="opera.html" th:href="@{'/opera' + '/' + ${opera.id}}"
					   		th:text="${opera.nome}">Opera</a>
						</p>
					</li>
				</ul>
				<div class="sezione">	
					<p >
						<a th:href="@{'/confermaDeleteGalleria' + '/' + ${galleria.id}}"><strong class="conferma">CONFERMA</strong></a>
						<a th:href="@{'/gallerie'}"><strong class="annulla">ANNULLA</strong></a>
					</p>
				</div>
			</h4>
		</div>
		
		<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
		</div>
	</body>
	</body>
</html>