<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
		<title>Elenco delle Gallerie - admin</title>
		<link rel="stylesheet" href="../elenchi.css"/>  
	</head> 
	
	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Gallerie d'arte - ELENCO DI TUTTE LE GALLERIE</strong></div>
	</header>
	
	<div th:if="${!gallerie.empty}">
	<div class="sezione">	
		<p>
			<ul>
				<li th:each="galleria: ${gallerie}">
					<p class="desc">
						<span><strong>Nome galleria: </strong></span>
						<span>
							<a href="galleria.html" th:href="@{'/galleria' + '/' + ${galleria.id}}"
					   		th:text="${galleria.nome}">Galleria generica</a>
					   	</span>
					   	<span><strong> - Descrizione galleria: </strong></span>
					   	<span  th:text="${galleria.descrizione}">Descrizione galleria</span>
						<span>
							<a href="#" th:href="@{'/deleteGalleria' +'/' + ${galleria.id}}"><strong class="elimina">ELIMINA</strong></a> 
						</span>
					</p>
				</li>	   	
			</ul>
		</p>
	</div>
	</div>
	
	<div class="sezione" th:unless="${!gallerie.empty}">
		<h4>NON CI SONO GALLERIE ANCORA CENSITE! CENSISCINE UNA</h4>
	</div>
			
	<div class="sezione">	
		<h4>CREA UNA NUOVA GALLERIA</h4>
		<div class="itemMain">
			<a th:href="@{/galleriaForm}" href="#"><strong class="creazione">Inserimento nuova galleria d'arte</strong></a>
		</div>
	</div>
	
	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
	
	</body>

</html>