<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>Inserimento opera - admin</title>
		<link rel="stylesheet" href="../../form.css"/>	
	</head>

	<body>
	<header> 
		<div id="titolo"><strong class="titolo">Gallerie d'arte - INSERIMENTO DATI OPERA</strong></div>
	</header>
	
	<section>
			<div class="flex-container">
			
				<div class="flex-dati">
				
					<div class="sezione">
						<form th:action="@{'/artista' + '/' + ${artista.id} + '/' + 'opera'}" method="POST" th:object="${opera}">
					
							<div th:if="${#fields.hasGlobalErrors()}">
					    		<p 	th:each="err : ${#fields.globalErrors()}" 
					  				th:text="${err}">ERRORE GENERICO</p> 
					  		</div>
							<div>
								<span>Nome opera: </span>
								<span><input type="text" th:field="*{nome}"/></span>
								<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
							</div>
							<div>
								<span>Descrizione opera: </span>
								<span><input type="text" th:field="*{descrizione}"/></span>		
								<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
							</div>
							<div>
								<button type="submit"><strong class="bottone">Conferma nuova opera</strong></button>
							</div> 
						</form>
					</div>
				</div>
				
				<div class="flex-foto">
					<div class="fotografia">
						<img style="border: 3px solid green"  src="../../quadro.jpg" alt="Image" height="300" width="360">
					</div>
				</div>
				
			</div>
			
	</section>
	
	<div class="sezione">
			<a th:href="@{/home}"><strong class="top">Home</strong></a>
	</div>
	</body>

</html>