<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Opere</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	  
	</head> 
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div th:if="${galleria != null}"><h2>Le opere della galleria</h2><h1 th:text="${galleria.nome}"></h1></div>
				<div th:if="${artista != null}"><h2>Le opere dell'artista</h2><h1 th:text="${artista.nome} + ${artista.cognome}"></h1></div>
				<div th:if="${galleria == null && artista == null}"><h1>Le nostre opere</h1></div>
				<ul id="elenco">
					<li th:each="opera: ${opere}">
						<span>
							<a th:href="@{'/opera' + '/' + ${opera.id}}"
					   		th:text="${opera.nome}">Opera</a>
					   	</span>
					</li>	   	
				</ul>
			</div>
			<img src="/images/vangogh-vasodigirasoli.jpg"></img>
		</div>
	</body>

</html>