<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
	    <title>Opere</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/elenchi.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">	  
	</head> 
	
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>	
		<div id="container">
			<div id="section">
				<div><h1>Le nostre opere</h1></div>	
				<ul id="elenco">
					<li th:each="opera: ${opere}">
						<span>
							<a th:href="@{'/operaUtente' + '/' + ${opera.id}}"
					   		th:text="${opera.nome}">Opera</a>
					   	</span>
					   	<span>
							<a href="#" th:href="@{'/deleteOpera' +'/' + ${opera.id}}"><strong class="elimina">ELIMINA</strong></a> 
						</span>
					</li>	   	
				</ul>
			</div>
			<img src="/images/vangogh-vasodigirasoli.jpg"></img>
		</div>
	</body>

</html>